.reveal div.white { 
    color: white;
}

.reveal .white {
	color: white;
}

.reveal div.small {
	font-size: 0.7em;
}

.reveal div.center {
	text-align: center;
    vertical-align: middle;
}

.reveal h2.white {
	color: white;
} 

.reveal div.left {
    float: left; z-index: -10; width: 45%; margin-left: 5%;
}

.reveal div.right {
    float: right; z-index: -10; width: 45%; margin-right: 5%;
}

img[alt*=scale-75] { width: 75%; }
img[alt*=scale-50] { width: 50%; }
img[alt*=scale-25] { width: 25%; }

.reveal img[alt*=no-border] { 
    border: 0px; 
}
