.reveal p, .reveal li, .reveal a{
	font-size: 0.8em !important;
}

.reveal div.white {
    color: white;
}

.reveal .white {
	color: white;
}

.reveal div.small {
	font-size: 0.7em;
}

.reveal div.center {
	text-align: center;
}

.reveal div.middle {
	vertical-align: middle;
}

.reveal h2.white {
	color: white;
}

.reveal div.left {
    float: left; z-index: -10; width: 45%; margin-left: 5%;
}

.reveal div.right {
    float: right; z-index: -10; width: 45%; margin-right: 5%;
}

.reveal div.three-left {
   float: left; width: 25%; margin-left: 5%;
}

.reveal div.three-middle {
	width: 25%;
}

.reveal div.three-right{
   float: right; width: 25%; margin-right: 5%;
}

.reveal div.bottom {
	float: bottom;
}

.reveal div.alignleft{
	text-align: left;
}

.reveal div.block {
	display: inline-block;
}

img[alt*=scale-90] { width: 90%; }
img[alt*=scale-80] { width: 80%; }
img[alt*=scale-70] { width: 70%; }
img[alt*=scale-60] { width: 60%; }
img[alt*=scale-50] { width: 50%; }
img[alt*=scale-40] { width: 40%; }
img[alt*=scale-30] { width: 30%; }
img[alt*=scale-20] { width: 20%; }
img[alt*=scale-10] { width: 10%; }

.reveal img:not([alt*=border]) {
    border: 0px;
}

.reveal img:not([alt*=shadow]) {
	box-shadow: none;
}
