.reveal h1{
    color: white;
}

.reveal p {
    margin-left: 20%;
	margin-right: 20%;
    font-size: 1.3em;  
}

.whitetext{
    color: white;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

img[alt=scale-50] { width: 50%; }
